.skills {
  display: flex;
  align-items: center;
  width: 70%;
  padding: 1em;
  margin: 0 auto;
  outline: 1px solid black;
  font-family: "Canopee";
  justify-content: space-evenly;
}

.drake img {
  height: 20vw;
}
.skills_descript h3 {
  font-size: 3.6vw;
}
.skills_descript p {
  font-size: 6vw;
}
@media screen and (min-width:768px) {


  
  
  .skills_descript h3 {
    font-size: 1.6vw;
  }
  .skills_descript p {
    font-size: 3vw;
  }
}
