@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@font-face {
  font-family: "Canopee";
  src: local("Canopee"),
    url("./fonts/Canopee/Canopee_Regular.otf") format("truetype");
  /* font-weight:; */
}
* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: rgba(20, 19, 19, 1);
}
.main {
  background-color: #cdc6be;
  height: max-content;
}
.heading p {
  text-align: center;
  font-family: "UnifrakturCook", cursive;
  text-decoration: underline;
}
.heading {
  padding: 0.7em;
}
.line_1 {
  font-size: 20px;
}
