@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@font-face {
  font-family: "Canopee";
  src: local("Canopee"),
    url("./fonts/Canopee/Canopee_Regular.otf") format("truetype");
  /* font-weight:; */
}
* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: rgba(20, 19, 19, 1);
}
.main {
  background-color: #cdc6be;
  height: max-content;
}
.heading p {
  text-align: center;
  font-family: "UnifrakturCook", cursive;
  text-decoration: underline;
}
.heading {
  padding: 0.7em;
}
.line_1 {
  font-size: 20px;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background-color: #1d1d1b;
  border: 0.25em solid #cdc6be;
}
::-webkit-scrollbar-thumb {
  background-color: #cdc6be;
  border-radius: 100vw;
  height: 0.2em;
  border: 0.25em solid #1d1d1b;
}
